h1, h2, h3, p {
    text-align: center;
    padding:2rem;
    @include md-up {
        font-size:1.1rem;
        text-align:left;
        padding:0.5rem;
    }
}



a {
    color:$blue-links;
}



@include md-up {
    .ctn-body {
        margin:10rem 0;
        display:flex;
   
       }
       .ctn-txt{
           padding:2rem;
           width:70%;
        
       }
       .ctn-rates{
           margin-top:10rem;
        padding:2rem;
        width:30%;
        
       
       } 
       .ctn-rates-text {
         font-size:0.7rem;
    }

    h1 {
        font-size:2rem;
    }
  

}



//.ctn-rates ///.ctn-text

footer {
    background-color:$blue;
    height:20rem;
    @include md-up {
        height:10rem;
    }

}
iframe {
    margin-bottom:10rem;
    width:100%;
}
.logo-footer {
  width:20%;
  margin-left:40%;
  margin-top:10%;
 @include md-up {
     width:5%;
     margin-left:50%;
     margin-top:5%;
 }
}


@include sm {
    p, h1,h2 , h3 {
        font-size:1rem;
    }
}
@include xs {
    p, h1,h2 , h3 {
        font-size:0.7rem;
    }
}
@include xxs {
    p, h1,h2 , h3 {
        font-size:0.4rem;
    }
}