h1, h2, p {
    text-align: center;
   
    padding:2rem;
}


a {
    color:$blue-links;
}

footer {
    background-color:$blue;
    height:20rem;

}
iframe {
    margin-bottom:20rem;
}
.logo-footer {
  width:20%;
  margin-left:40%;
  margin-top:10%;
 
}