body {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
}


h1 {
    color:$gold;
}

p {
    color:$blue;
}

h2 {
  color:$blue;
}